<div class="flex flex-col bg-secondary rounded-3xl px-5 py-6 my-6">
   <h6 class="text-2xl font-bold mb-3">Ready to talk to us?</h6>
   <p class="text-md mb-3">
      Whether you have a query, feedback, or just want to say hello, we're all ears! Click "Contact Us" now to connect
      with our dedicated team. Your satisfaction is our priority, and we're here to ensure every interaction leaves you
      smiling. Let's start the connect today!
   </p>
   <a href="/pages/contact" class=" self-start text-lg bg-primary text-white px-4 py-2 rounded-full ">Contact Us</a>
</div>