<!------------ ANNOUNCEMENT BAR - TOP -------------->
<div class="bg-primary text-white text-2xs hidden items-center">
    <p class="container uppercase tracking-widest px-4 py-2">
        India · USA · Europe · UK
    </p>
</div>
<!------------ ANNOUNCEMENT BAR - TOP | ENDS -------------->



<!------------ MOBILE/DESKTOP HEADER BAR -------------->
<div class="bg-white fill-black mb-0">
    <header class=" container grid grid-cols-12 px-3 py-5">
        <div class="col-span-3">
            <span class="block w-10 cursor-pointer" id="menuButton">{% render 'icons', icon: 'menu'
                %}</span>
        </div>
        <div class="col-span-6 flex items-center justify-center">
            <a href="/" class="block h-7 cursor-pointer">
                {% render 'icons', icon: 'logo-text', class: '' %}</a>
        </div>
        <div class="col-span-3 flex justify-end">
            <a class="hidden md:block text-center text-white bg-primary rounded-full px-4 py-2 cursor-pointer">
                Contact Us
            </a>
        </div>
    </header>
</div>
<!------------ MOBILE/DESKTOP HEADER BAR | ENDS -------------->


<!------------ MOBILE/DESKTOP MENU DRAWER -------------->
{% render 'menu-drawer' %}
<!------------ MOBILE/DESKTOP MENU DRAWER | ENDS -------------->