<div class="bg-white text-black py-28 px-5">
    <div class="container grid grid-cols-12">
        <div class="col-span-1 px-6">

        </div>
        <div class="col-span-10 flex flex-col md:items-center px-0 md:px-6">
            <h1 class="text-7xl uppercase font-bold">Time = Money</h1>
            <hr class="my-5 border-[0.5px] w-1/2 border-gray-400" />
            <h2 class=" text-xl font-bold mb-3">We are the people who can save your time.</h2>
            <p class="mb-3">With holistic approach of saving time & money we develop strategies that are effective
                and profitable</p>
            <div class="mt-3">
                <a class="text-md md:text-lg bg-primary text-white uppercase font-bold rounded-full px-4 py-2">
                    Talk to us
                </a>
            </div>
        </div>
        <div class="col-span-1 px-6">

        </div>

    </div>
</div>


<div class="flex items-center bg-white">
    <div class="container grid grid-cols-12 gap-3 items-center px-6 md:px-1 py-3 md:py-1">
        <div class="col-span-12 sm:col-span-6 flex flex-col justify-center gap-3">
            <h6 class="text-sm md:text-md text-secondary uppercase font-bold">100% Working Business</h6>
            <h1 class="text-2xl md:text-4xl text-primary font-bold uppercase">Start Your Mobile Skin Case Business</h1>
            <p class="text-md md:text-lg">Start selling trendy and colorful mobile cases & covers with your own private
                label brand. Our partners make more than 4x revenues.</p>
            <div class="">
                <button class="flex items-center bg-primary text-white px-5 py-2 rounded-md">
                    Let's Talk
                </button>

            </div>
        </div>

        <div class="col-span-12 sm:col-span-6 flex flex-col justify-center">
            <div class="flex justify-center px-0 md:px-6">
                <img class="w-full" src="{{ 'header_1_v2.png' | asset_url }}" />
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-100 py-6">
    <div class="container grid grid-cols-12 gap-5 md:gap-3 px-3 py-3">
        <div class="col-span-12 md:col-span-4 flex flex-col items-center">
            <span class="text-4xl text-primary font-bold">10,000</span>
            <h6 class="text-md md:text-lg text-center ">Customers Already Bought</h6>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col items-center">
            <span class="text-4xl text-primary font-bold">100+</span>
            <h6 class="text-md md:text-lg text-center ">Ready To Use Print Designs</h6>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col items-center">
            <span class="text-4xl text-primary font-bold">14</span>
            <h6 class="text-md md:text-lg text-center ">Mobile Models Covered</h6>
        </div>
    </div>
</div>





<div class="flex items-center bg-white py-10">
    <div class="container grid grid-cols-12 gap-6 md:gap-3 items-center px-6 md:px-1 py-3 md:py-1">
        <div class="col-span-12 flex justify-center mb-6 md:mb-10 mt-3 md:mt-6">
            <h6 class="text-3xl md:text-4xl text-primary uppercase font-bold">What we offer?</h6>
        </div>


        <div class="col-span-12 sm:col-span-6 gap-6 md:gap-10 flex flex-col justify-center">

            <div class="grid grid-cols-12 gap-3 px-2">
                <div class="col-span-2 flex justify-end">
                    <span
                        class="flex items-center justify-center w-10 h-10 md:w-14 md:h-14  bg-secondary text-white text-xl md:text-3xl font-bold rounded-full">01</span>
                </div>
                <div class="col-span-10 ml-3">
                    <h6 class="text-lg font-bold">100% Made in India Products</h6>
                    <p>Our products are made in self-owned factory with all material & labor sourced from India.</p>
                </div>
            </div><!--- Bullet point ends --->

            <div class="grid grid-cols-12 gap-3 px-2">
                <div class="col-span-2 flex justify-end">
                    <span
                        class="flex items-center justify-center w-10 h-10 md:w-14 md:h-14  bg-secondary text-white text-xl md:text-3xl font-bold rounded-full">02</span>
                </div>
                <div class="col-span-10 ml-3">
                    <h6 class="text-lg font-bold">All support to start Mobile Skin Case business</h6>
                    <p>We provide all support like case or covers, printing materials, your brand logo on designs etc.
                    </p>
                </div>
            </div><!--- Bullet point ends --->


            <div class="grid grid-cols-12 gap-3 px-2">
                <div class="col-span-2 flex justify-end">
                    <span
                        class="flex items-center justify-center w-10 h-10 md:w-14 md:h-14 bg-secondary text-white text-xl md:text-3xl font-bold rounded-full">03</span>
                </div>
                <div class="col-span-10 ml-3">
                    <h6 class="text-lg font-bold">Low Minimum Order Quantity (MOQ)</h6>
                    <p>As we manufacture our products, We offer low MOQ to our dealers so that there is NO DEAD STOCK.
                    </p>
                </div>
            </div><!--- Bullet point ends --->
        </div>

        <div class="col-span-12 sm:col-span-6 gap-6 md:gap-10 flex flex-col justify-center">

            <div class="grid grid-cols-12 gap-3 px-2">
                <div class="col-span-2 flex justify-end">
                    <span
                        class="flex items-center justify-center w-10 h-10 md:w-14 md:h-14  bg-secondary text-white text-xl md:text-3xl font-bold rounded-full">04</span>
                </div>
                <div class="col-span-10 ml-3">
                    <h6 class="text-lg font-bold">Different Color Cases</h6>
                    <p>No more BLACK COLOR ONLY cases for mobiles, We offer 4-6 color options.</p>
                </div>
            </div><!--- Bullet point ends --->

            <div class="grid grid-cols-12 gap-3 px-2">
                <div class="col-span-2 flex justify-end">
                    <span
                        class="flex items-center justify-center w-10 h-10 md:w-14 md:h-14  bg-secondary text-white text-xl md:text-3xl font-bold rounded-full">05</span>
                </div>
                <div class="col-span-10 ml-3">
                    <h6 class="text-lg font-bold">Free Mobile Case Mockup's</h6>
                    <p>Mobile mockups images are used for publishing & selling your products on Etsy, Amazon, eBay,
                        Shopify etc.</p>
                </div>
            </div><!--- Bullet point ends --->

            <div class="grid grid-cols-12 gap-3 px-2">
                <div class="col-span-2 flex justify-end">
                    <span
                        class="flex items-center justify-center w-10 h-10 md:w-14 md:h-14 bg-secondary text-white text-xl md:text-3xl font-bold rounded-full">06</span>
                </div>
                <div class="col-span-10 ml-3">
                    <h6 class="text-lg font-bold">Trendy & Artistic Designs</h6>
                    <p>Use your own designs for printing or Buy our copyright designs if you do not want to spend too
                        much hiring designer</p>
                </div>
            </div><!--- Bullet point ends --->

        </div>
    </div>
</div>



{% section 'home-blog-section' %}