<div class="flex items-center bg-secondary">
    <div class="container grid grid-cols-12 gap-3 items-center px-6 md:px-1 py-10 md:py-1">
        <div class="col-span-12 sm:col-span-6 flex flex-col justify-center gap-3">
            <h6 class="text-md md:text-xl text-secondary uppercase font-bold">Our Misson</h6>
            <h1 class="text-3xl md:text-5xl text-primary font-bold uppercase">To revolutionize the way new entepreneurs
                think</h1>
            <p class="text-md md:text-lg">We want to help entepreneurs to revolutionize the way they think
                with simple, effective and profitable business model.</p>
        </div>

        <div class="col-span-12 sm:col-span-6 flex flex-col justify-center">
            <div class="flex justify-center px-0 md:px-6">
                <img class="w-full" src="{{ 'banner_01.png' | asset_url }}" />
            </div>
        </div>
    </div>
</div>


<div class="bg-gray-100 py-20 px-6">
    <div class="container flex flex-col">
        <h6 class="text-md md:text-2xl text-primary uppercase font-bold">Our Vision</h6>
        <h2 class="text-3xl md:text-5xl text-black font-bold uppercase">
            create business that are sustainable & profitable
        </h2>
    </div>
</div>